{% load static %}

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>{{ home.phone }}</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>{{ home.email }}</a>
                            </div>
                            <!--end left-->
                            <div class="right">
                                 
                                 
                                <div class="element">
                                    <a href="{% url 'user_login' %}">Логин</a>
                                </div>
                                <!--end element-->
                                <div class="element">
                                    <a href="{% url 'register' %}">Зарегистрироваться</a>
                                </div>
                                <!--end element-->
                                <div class="element">
                                    <select>
                                        <option>EN</option>
                                        <option>DE</option>
                                        <option>RU</option>
                                        <option>ES</option>
                                    </select>
                                </div>
                                <!--end element-->
                            </div>
                            <!--end right-->
                        </nav>
                    </div>
                </div>
                <!--end secondary-nav-->
            </div>
            <!--end container-->
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="{% url 'index' %}" id="brand"><img src="{{ home.logo.url }}" alt="" width="150" height="100"></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li class="active"><a href="index.html">Домой</a></li>
                                <li><a href="about-us.html">О нас</a></li>
                                <li>
                                    <a href="#" class="has-child">Отели</a>
                                    <ul class="child-nav">
                                        <li><a href="listing.html">Список отелей</a></li> 
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-child">Страницы</a>
                                    <ul class="child-nav">
                                        <li><a href="404.html">404</a></li>
                                        <li>
                                            <a href="#" class="has-child">Admin</a>
                                            <ul class="child-nav">
                                                <li><a href="edit.html">Edit Accommodation</a></li>
                                                <li><a href="my-accommodations.html">My Accommodations</a></li>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="reservations.html">Reservations</a></li>
                                                <li><a href="reviews.html">Reviews</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="detail.html">Accommodation Detail</a></li>
                                        <li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                                        <li>
                                            <a href="#" class="has-child">Блог</a>
                                            <ul class="child-nav">
                                                <li><a href="blog.html">Список блога</a></li>
                                                <li><a href="blog-detail.html">Детали блога</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Связаться с нами</a></li>
                                <!-- <li class="submit"><a href="submit.html"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="{% static 'assets/img/plus.png' %}" alt=""></i></a></li> -->
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->
 